@import "../../../styles/colors.scss";
@import "../../../styles/font-mixins.scss";


.item {
  margin: 40px 0;
  background-color: $color-blue-light;
  .header {
    margin-bottom: 10px;
  }
  
  .link{
    cursor:pointer;
  }
  
  .title {
    @include very-small-title-font($color-red-normal);
  }

}
