@import "colors.scss";


/* ========== Titles ========== */

@mixin main-title-font($color: $color-default) {
  font-family: "Silkscreen", sans-serif !important;
  font-weight: 800 !important;
  font-size: 38px !important;
  line-height: 44px !important;
  color: $color;

  @media only screen and (min-width: 800px) {
    font-size: 46px !important;
    line-height: 52px !important;
  }

  @media only screen and (min-width: 1250px) {
    font-size: 54px !important;
    line-height: 60px !important;
  }
}

@mixin pretitle-font($color: $color-default) {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  text-transform:uppercase;
  color: $color;

  @media only screen and (min-width: 800px) {
    font-size: 18px;
    line-height: 44px;
  }

  @media only screen and (min-width: 1250px) {
    font-size: 20px;
    line-height: 52px;
  }
}

@mixin title-font($color: $color-default) {
  font-family: "Silkscreen", sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
  color: $color;

  @media only screen and (min-width: 800px) {
    font-size: 35px;
    line-height: 44px;
  }

  @media only screen and (min-width: 1250px) {
    font-size: 41px;
    line-height: 52px;
  }
}

@mixin small-title-font($color: $color-default) {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: $color;

  @media only screen and (min-width: 800px) {
    font-size: 23px;
    line-height: 30px;
  }

  @media only screen and (min-width: 1250px) {
    font-size: 25px;
    line-height: 33px;
  }
}


@mixin very-small-title-font($color: $color-default) {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  color: $color;

  @media only screen and (min-width: 800px) {
    font-size: 19px;
    line-height: 30px;
  }

  @media only screen and (min-width: 1250px) {
    font-size: 20px;
  }
}

@mixin posttitle-font($color: $color-default) {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 34px;
  color: $color;

  @media only screen and (min-width: 800px) {
    font-size: 18px;
    line-height: 44px;
  }

  @media only screen and (min-width: 1250px) {
    font-size: 26px;
    line-height: 52px;
  }
}

@mixin posttitle-font-small($color: $color-default) {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: $color;

  @media only screen and (min-width: 800px) {
    font-size: 16px;
    line-height: 30px;
  }

  @media only screen and (min-width: 1250px) {
    font-size: 18px;
    line-height: 36px;
  }
}

/* ========== Texts ========== */


@mixin text-font($color: $color-default) {
  font-family: "Atlas Grotesk", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color;

  @media only screen and (min-width: 800px) {
    font-size: 17px;
    line-height: 27px;
  }

  @media only screen and (min-width: 1250px) {
    font-size: 18px;
    line-height: 29px;
  }
}

@mixin slightly-larger-text-font($color: $color-default) {
  font-family: "Atlas Grotesk", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $color!important;

  @media only screen and (min-width: 800px) {
    font-size: 18px;
    line-height: 29px;
  }

  @media only screen and (min-width: 1250px) {
    font-size: 20px;
    line-height: 33px;
  }
}


@mixin large-text-font($color: $color-default) {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 28px;
  color: $color;

  @media only screen and (min-width: 800px) {
    font-size: 26px;
    line-height: 36px;
  }

  @media only screen and (min-width: 1250px) {
    font-size: 30px;
    line-height: 40px;
  }
}


@mixin larger-text-font($color: $color-default) {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 26px;
  line-height: 32px;
  color: $color;

  @media only screen and (min-width: 800px) {
    font-size: 32px;
    line-height: 40px;
  }

  @media only screen and (min-width: 1250px) {
    font-size: 35px;
    line-height: 45px;
  }
}


@mixin huge-text-font($color: $color-default) {
  font-family: "Roboto", sans-serif !important;
  font-weight: 800!important;
  font-size: 28px!important;
  line-height: 34px!important;
  color: $color!important;

  @media only screen and (min-width: 800px) {
    font-size: 35px!important;
    line-height: 45px!important;
  }

  @media only screen and (min-width: 1250px) {
    font-size: 41px!important;
    line-height: 54px!important;
  }
}

@mixin big-text-font($color: $color-default) {
  font-family: "Roboto", sans-serif!important;
  font-weight: 800!important;
  font-size: 24px!important;
  line-height: 34px!important;
  color: $color!important;

  @media only screen and (min-width: 800px) {
    font-size: 32px!important;
    line-height: 40px!important;
  }

  @media only screen and (min-width: 1250px) {
    font-size: 38px!important;
    line-height: 50px!important;
  }
}

@mixin small-text-font($color: $color-default) {
  font-family: "Roboto", sans-serif!important;
  font-weight: 400!important;
  font-size: 14px!important;
  line-height: 18px!important;
  color: $color!important;

  @media only screen and (min-width: 800px) {
    font-size: 15px!important;
    line-height: 26px!important;
  }
}


@mixin very-bold-text-font($color: $color-default) {
  @include text-font($color);
  font-weight: 800!important;
}


@mixin info-text-font($color: $color-default) {
  font-family: "Roboto", sans-serif!important;
  font-weight: 500!important;
  font-size: 16px!important;
  line-height: 32px!important;
  color: $color!important;

  @media only screen and (min-width: 800px) {
    font-size: 18px!important;
  }
}

/* ========== Card-texts ========== */

@mixin card-title-font($color: $color-default) {
  font-family: "Silkscreen", sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  color: $color;
}

@mixin card-title-font-large($color: $color-default) {
  font-family: "Silkscreen", sans-serif;
  font-weight: 800;
  font-size: 35px;
  line-height: 40px;
  color: $color;
}

@mixin card-title-font-small($color: $color-default) {
  font-family: "Silkscreen", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 34px;
  color: $color;
}

@mixin card-info-font-small($color: $color-default) {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: $color;
}

@mixin card-info-font($color: $color-default) {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: $color;
}

@mixin card-info-font-large($color: $color-default) {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: $color;
}


@mixin card-tagline-font($color: $color-default) {
  font-family: "Silkscreen", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: $color;
}

@mixin type-name-font($color: $color-default) {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: $color;

  @media only screen and (min-width: 800px) {
    font-size: 17px;
    line-height: 32px;
  }

  @media only screen and (min-width: 1250px) {
    font-size: 18px;
    line-height: 32px;
  }
}


/* ========== Header texts ========== */

@mixin header-font($color: $color-default) {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  color: $color;
}


@mixin header-expanded-font($color: $color-default) {
  font-family: "Roboto", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 26px;
  color: $color;
}